@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.background {
    background-color: #24204A;
    display: flex;
    flex-direction: column;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

footer {
    margin-top: auto;
}

.first-line {
    top: 29px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color: #8E88C1;

}

.logo-entree {
    width: 100%;
    max-width: 444px;
    height: auto;
    top: 98px;

    background: url(ressources\logo_Formhacktion_black-removebg-preview.png);
}

.catchphrase {


    height: 121px;

    top: 467px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;

    color: #8E88C1;

}

.button-1 {
    position: absolute;
    width: 26.979166666%;
    height: 68px;
    left: 36.510416666%;
    top: 641px;
    background: #3F50E7;
    border-radius: 8px;
}

.button-2 {
    background: #3F50E7 !important;
    border-color: #3F50E7 !important;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
}

.label {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 25%;
    bottom: 25%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;

    color: #FFFFFF;
}

.overlap-group {

    background: #071341;
}

.formation-resume {
    background: #071341;
    border: 2px solid #8E88C1;
    border-radius: 8px;
    margin-bottom: 1em;
}

.formation-nom {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: left;

    color: white;
}

.formulaire {
    border-radius: 8px;
    margin-bottom: 2em;
    padding: 1em;
}

.description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: #8E88C1;

}

.labform {
    font-family: 'Inter';
    font-weight: bolder;
    font-size: xx-large;
    line-height: 24px;
    text-align: justify;
    color: #8E88C1;

}

.hr {
    border: 1;
    border-color: #8E88C1;
}

.footer-nom {
    font-family: 'Inter';
    font-size: xx-large;

    color: #FFFFFF;
}

.back-arrow {
    text-decoration: none;
    font-size: 32px;
    color: white;
    margin-top: 1em;
    margin-left: 4em;
}

.back-arrow:hover {
    text-decoration: none;
    font-size: 32px;
    color: white;
}

.contacter {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;

    color: white;
}

.mail {
    font-family: 'Inter';
    font-style: normal;
    font-weight: bolder;
    font-size: 128px;
    text-align: center;

    color: white;
}

.contacts {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    text-align: center;

    color: white;
}