@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.background {
    background-color: #24204A;
}

.first-line {
    position: absolute;
    height: 50px;
    margin-left: 30.78125%;
    top: 29px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    text-align: center;

    color: #8E88C1;

}

.logo-entree {
    position: absolute;
    width: 100%;
    max-width: 444px;
    height: auto;
    left: 38.4375%;
    top: 98px;

    background: url(ressources\logo_Formhacktion_black-removebg-preview.png);
}

.catchphrase {
    position: absolute;
    width: 34.895833333%;
    height: 121px;
    left: 32.552083333%;
    top: 467px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    text-align: center;

    color: #8E88C1;

}

.button-1 {
    position: absolute;
    width: 26.979166666%;
    height: 68px;
    left: 36.510416666%;
    top: 641px;
    background: #3F50E7;
    border-radius: 8px;
}

.label {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 25%;
    bottom: 25%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;

    color: #FFFFFF;
}

.overlap-group {
    position: absolute;
    width: 1920px;
    left: 0px;
    top: 800px;

    background: #071341;
}

.formation-resume {
    background: #071341;
    border: 2px solid #8E88C1;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    min-height: 460px;
    padding: 20px 32px;
    width: 570px;
    margin-bottom: 1em;
}

.formation-nom {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;

    color: #8E88C1;
}

.description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: #8E88C1;

}