@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    background-color: #24204A;
}

.first-line {
    position: absolute;
    height: 50px;
    margin-left: 30.78125%;
    top: 29px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    text-align: center;

    color: #8E88C1;

}

.logo-entree {
    position: absolute;
    width: 100%;
    max-width: 444px;
    height: auto;
    left: 38.4375%;
    top: 98px;

    background: url(ressources\logo_Formhacktion_black-removebg-preview.png);
}

.catchphrase {
    position: absolute;
    width: 34.895833333%;
    height: 121px;
    left: 32.552083333%;
    top: 467px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    text-align: center;

    color: #8E88C1;

}

.button-1 {
    position: absolute;
    width: 26.979166666%;
    height: 68px;
    left: 36.510416666%;
    top: 641px;
    background: #3F50E7;
    border-radius: 8px;
}

.label {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 25%;
    bottom: 25%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;

    color: #FFFFFF;
}


.overlap-group {
    position: absolute;
    width: 1920px;
    height: 1257px;
    left: 0px;
    top: 800px;

    background: #071341;
}


.line {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: normal;
}


.item {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    align-self: center;
    order: 0;
    width: 65px;
    margin: 65px;
    background-color: red;
}

.formation-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 100px;
    min-height: 1020px;
    width: 560px;
}

.formation-resume {
    background: #071341;
    border: 2px solid #8E88C1;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    min-height: 460px;
    padding: 20px 32px;
    width: 570px;
}

.formation-nom {
    position: absolute;
    left: 7.6%;
    right: 7.42%;
    top: 4.81%;
    bottom: 83.81%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;

    color: #8E88C1;
}

.formation-nom {
    position: absolute;
    left: 7.6%;
    right: 7.42%;
    top: 4.81%;
    bottom: 83.81%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;

    color: #8E88C1;
}

.description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: #8E88C1;
    position: absolute;
    left: 7.6%;
    right: 5.3%;
    top: 34.79%;
    bottom: 4.81%;
}